 
  <div class="row">
    <div class="col-md-8">  
     
        <div class="media">
          <div class="media-body">
            <h5 class="media-heading">
            <% @comments.each do |comment| %>
               <div class="comment">
                <%= comment.content %>
               </div>
            <% end %>
            </h5> 
          </div>
        </div>
  
    </div>
  </div>