
  <div class="row">
    <div class="col-md-8">  
     
        <div class="media">
          <div class="media-body">
            <h5 class="media-heading">
              <%= comment.content%>  
            </h5> 
          </div>
        </div>
  
    </div>
  </div>

 
    
  

          

  