<div class="media body">  
  <%= image_tag(user.avatar.profile.url) %>
  <%= link_to user.handle, user %> 
  <%= pluralize(user.posts.count, 'post') %>,
  <%= pluralize(user.comments.count, 'comment') %>
  
  <hr>
</div>

