<div class="page-header">
  <center><strong><h1> HRkin Users </h1></strong></center>
</div>

 <div class="row">
   <div class="col-md-8">
     
  <%#= render partial: 'users/user', collection: @users %>
  
<table id="postindex", class="table table-hover" >
  <thead>
    <tr>
      
      <th><id: "myToolTip" data-toggle="tooltip" title="Sort by name"><button type="button" class="btn btn-primary">Name</button>&nbsp;&#8661;</th>
      <th><id: "myToolTip" data-toggle="tooltip" title="Sort by total number of posts"><button type="button" class="btn btn-primary">Total posts</button>&#8661;</th>
      
      
    </tr>
  <thead>
  <tbody>
   <% @users.each do |user| %>
  <tr>
    <td><%= image_tag(user.avatar.profile.url) %> <%= link_to user.handle, user %> </td>
    <td ><%= user.posts.count  %> </td> 
  </tr>
    <% end %>
  <tbody>
</table>

   </div>
   <div class="col-md-4">
    <%= will_paginate @users %>
   </div>
</div>
