<br/>
<div class="jumbotron">
  <h1>Welcome to HRkin</h1>
  <p>HRkin is a where you can chat with HR professionals</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Ask questions</h2>
    <p>Need advice on work or finding a job</p>
  </div>
  <div class="col-md-4">
    <h2>Get updates</h2>
    <p>Find out whats new in the HR snd recruiting world</p>
  </div>
  <div class="col-md-4">
    <h2>Network</h2>
    <p>Network with HR professionals</p>
  </div>
</div>