  
  <div class="jumbotron bodyimg">
    <span class="whte">
    <h1>Welcome to HRkin</h1>
     <h2>connect and chat with HR professionals</h2>
     <p>

      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-success btn-lg'  %> today!
    </p>
  </span>
  </div>

  <div class="row">
    <div class="col-md-3 lefthr">
      <h2>Learn </h2>
      <p> Read on various topics from HR professionals and other experts</p>
    </div>
    <div class="col-md-3 lefthr">
      <h2>Connect </h2>
      <p> Network with HR professionals and other people</p>
    </div>
    <div class="col-md-3 lefthr">
      <h2>To-Do list</h2>
      <p>Share your achievements with HR professionals and others</p>
    </div>
    <div class="col-md-3">
      <h2>Wiki</h2>
      <p>Share your resume with HR professionals and other people</p>
    </div>
  </div>
