
<h3><%= @todo.name %> </h3>
 <table>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.content %></td>
      </tr>
    <% end %>
  </tbody>
 </table>
 <%= render "comments/comments" %>
 <div>
    <div class= 'new-comment'>
      <%= render :partial => "comments/form", locals: {todoo: @todoo, comment: @comment} %>
    </div>
  </div>
